# Core dependencies
numpy
pandas
scipy

# Machine Learning
scikit-learn
xgboost
torch
torchvision
torchaudio
tensorflow

# Data Processing & Scraping
beautifulsoup4
requests
lxml

# Visualization
matplotlib
seaborn

# Jupyter Notebook (for EDA)
jupyterlab
